<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="mt-4" [formGroup]="addForm">
        <h2 class="text-center">Annual Production Plan Info</h2>
        <hr/>

        <h5>Date of Issue</h5>
        <div class="form-group mb-3">
          <input
            class="form-control"
            placeholder="{{ today }}"
            disabled
            value="{{ today }}"
            formControlName="dateOfIssue"
          />
        </div>

        <div class="form-group mb-3">
          <input
            [ngClass]="{
              'is-invalid':
                addForm.get('expirationDate').errors &&
                addForm.get('expirationDate').touched
            }"
            class="form-control"
            placeholder="Date of expiration"
            formControlName="expirationDate"
            type="text"
            bsDatepicker
            [bsConfig]="bsConfig"
            [minDate]="minDate"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addForm.get('expirationDate').touched &&
              addForm.get('expirationDate').hasError('required')
            "
          >
            Expiration date is required
          </div>
        </div>

        <div class="form-group mb-3">
          <input
            [ngClass]="{
              'is-invalid':
                addForm.get('description').errors &&
                addForm.get('description').touched
            }"
            class="form-control"
            placeholder="Description"
            formControlName="description"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addForm.get('description').touched &&
              addForm.get('description').hasError('required')
            "
          >
            Description is required
          </div>
        </div>

        <div class="form-group mb-3">
          <input
            [ngClass]="{
              'is-invalid':
                addForm.get('note').errors && addForm.get('note').touched
            }"
            class="form-control"
            placeholder="Note"
            formControlName="note"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addForm.get('note').touched &&
              addForm.get('note').hasError('required')
            "
          >
            Note is required
          </div>
        </div>

        <select class="form-control" formControlName="worker">
          <option value="" disabled hidden>Please chose a Worker</option>
          <option *ngFor="let worker of workers$|async" [ngValue]="worker">
            {{worker.name}} {{worker.surname}}
          </option>
        </select>
      </form>
    </div>

    <div class="col-sm-6">
      <form class="mt-4" [formGroup]="addItemForm" (ngSubmit)="addItem()">
        <h2 class="text-center">Add Plan Item</h2>
        <hr/>
        <div class="mt-5 mb-5"></div>
        <div class="form-group mb-3">
          <input
            [ngClass]="{
              'is-invalid':
                addItemForm.get('quantity').errors &&
                addItemForm.get('quantity').touched
            }"
            class="form-control"
            placeholder="Quantity"
            formControlName="quantity"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addItemForm.get('quantity').touched &&
              addItemForm.get('quantity').hasError('required')
            "
          >
            Quantity is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
            addItemForm.get('quantity').touched &&
            addItemForm.get('quantity').hasError('pattern')
          "
          >
            Quantity must be a number and can't start with 0
          </div>
        </div>

        <div class="form-group mb-3">
          <input
            [ngClass]="{
              'is-invalid':
                addItemForm.get('description').errors &&
                addItemForm.get('description').touched
            }"
            class="form-control"
            placeholder="Description"
            formControlName="description"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              addItemForm.get('description').touched &&
              addItemForm.get('description').hasError('required')
            "
          >
            Description is required
          </div>
        </div>

        <select class="form-control" formControlName="product">
          <option value="" disabled selected hidden>Please chose a Product</option>
          <option *ngFor="let product of products$|async" [ngValue]="product">
            {{ product.name }} {{ product.professionalName }}
          </option>
        </select>

        <div class="mt-4 form-group mb-3 text-center">
          <button
            class="btn btn-success btn-block"
            [disabled]="!addItemForm.valid"
            type="submit"
          >
            Add Plan Item
          </button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div *ngIf="planItems.length > 0" class=" table-striped">
    <table class="table text-center">
      <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let planItem of planItems">
        <td>{{ planItem.quantity }}</td>
        <td>{{ planItem.description }}</td>
        <td>{{ planItem.product.name }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteItem(planItem)"
          >
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4 form-group mb-3 text-center pt-3 mt-4">
    <button
      class="btn btn-success"
      [disabled]="!addForm.valid"
      type="submit"
      (click)="addPlan()"
    >
      Add Annual Production Plan
    </button>

    <button class="btn btn-outline-dark btn-block mx-3" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>

  <!--
  <p>Form value: {{ addForm.value | json }}</p>
  <p>Form status: {{ addForm.status | json }}</p> -->
</div>
