
<div class="container">
  <div class="mt-4">
    <h1><b>Annual Production Plans</b></h1>
  </div>
  <div class="pb-4">
    <button type="button" class="btn btn-outline-success btn-lg w-100 mt-5" (click) = "openForAdding()">Add New Annual Production Plan</button>
  </div>

  <div class=" mt-4 table-striped">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr  mdbTableCol *ngFor="let plan of (annualPlans$|async)">
          <th scope="row">{{ plan.id }}</th>
          <td>{{ plan.dateOfIssue | date }}</td>
          <td>{{ plan.expirationDate | date }}</td>
          <td>{{ plan.description }}</td>
          <td>{{ plan.note }}</td>
          <td>{{ plan.worker.name}}</td>
          <td>
            <button type="button" class="btn btn-success mx-3" [routerLink]="['/annualPlan/edit/', plan.id]">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deletePlan(plan)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
