<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Production</a>

    <ul class="navbar-nav" style="margin-right: auto" *ngIf="isLoggedIn$|async">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/products']">Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/annualPlan']">Annual Production Plans</a>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn$|async">
      <li class="nav-item">
        <span class="nav-link pr-4" *ngIf="isLoggedIn$|async">
          Welcome {{ authService.decodedToken.sub | titlecase }}
        </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
